body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  gap: 30px;
  background-color: #efedf3;
  font-family: Verdana, sans-serif;
}

.card {
  width: 320px;
  padding: 20px;
  background: #3914de;
  border-radius: 14px;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
}

#trackerValue {
  font-size: 36px;
  margin-bottom: 12px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
